<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tires Suite" parallel="false">
    <test name="SearchSelector">
        <groups>
            <run>
                <include name="Regression"/>
                <exclude name="SKIP"/>
            </run>
        </groups>
        <classes>
            <class name="TestsForTires.TestTiresSelector"/>
            <class name="TestsForTires.TestAddToBasket"/>
            <class name="TestsForTires.TestGrayBtn"/>
            <class name="TestsForTires.SortingCheck"/>
            <class name="TestsForTires.TestTiresSelectorFromListing"/>
            <class name="TestsForTires.TestBlockTiresTop"/>
        </classes>
    </test>
</suite>